.alineacion {
    text-align: center;
}

.primeraParte, terceraParte{
    margin-top: 75px;    
    margin-bot: 25px;    
}
.segundaParte {
    margin-top: 30px;
}

.primeraPartev{
    margin-top: 25px;    

}
.mensaje {
    margin:15px;
}

.orderIcons {
    margin-left: 3px;
    display:flex;
    flex-direction: column;

}

.orderIcons a img {
    width: 8px;
}

.cabecera {
    background-color: red;
    height: 45px;
}

/*.cabecera tr {
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row
}*/

.cabecera th {
    background-color: #124E78;
    color: white;

}

.titulo {

    display:flex;
    justify-content: center;
    align-items: center;
}

.tabla tr td, .tabla tr th {
     vertical-align:middle;
}